STRINGTABLE
BEGIN
  0, "unexpected end of file"
  1, "invalid character"
  2, "invalid character after '#'"
  3, "unknown #! named constant %1"
  4, "unexpected token %1"
  5, "string with no closing quote"
  6, "missing closing parenthesis"
  7, "invalid number %1"
  8, "invalid AFII glyph identifier %1"
  9, "call of non-function object %1"
  10, "too many arguments for function"
  11, "odd number of keyword/value arguments"
  12, "missing argument for function call"
  13, "syntactic keyword %1 used as variable"
  14, "reference to undefined variable %1"
  15, "no character with name %1"
  18, "unknown top level form %1"
  19, "bad form %1 in mode group"
  20, "identifier %1 already defined in same part"
  21, "first definition was here"
  22, "loop in specification of value of %1"
  23, "argument out of range"
  24, "loop in specification of value of unit %1"
  25, "bad value specified for unit %1"
  26, "unit %1 already defined in same part"
  27, "first definition was here"
  28, "quantity %1 undefined"
  29, "incompatible dimensions"
  30, "%2 argument for primitive %1 of wrong type: %3 not a boolean"
  31, "%2 argument for primitive %1 of wrong type: %3 not a pair"
  32, "%2 argument for primitive %1 of wrong type: %3 not a list"
  33, "%2 argument for primitive %1 of wrong type: %3 not a symbol"
  34, "%2 argument for primitive %1 of wrong type: %3 not a string"
  35, "%2 argument for primitive %1 of wrong type: %3 not a string or symbol"
  36, "%2 argument for primitive %1 of wrong type: %3 not a char"
  37, "%2 argument for primitive %1 of wrong type: %3 not an ISO8601 time string"
  38, "%2 argument for primitive %1 of wrong type: %3 not a style"
  39, "%2 argument for primitive %1 of wrong type: %3 not an exact integer"
  40, "%2 argument for primitive %1 of wrong type: %3 not a quantity"
  41, "%2 argument for primitive %1 of wrong type: %3 not a color-space"
  42, "%2 argument for primitive %1 of wrong type: %3 not a number"
  43, "%2 argument for primitive %1 of wrong type: %3 not a sosofo"
  44, "%2 argument for primitive %1 of wrong type: %3 not an optional singleton node list"
  45, "%2 argument for primitive %1 of wrong type: %3 not a singleton node list"
  46, "%2 argument for primitive %1 of wrong type: %3 not a node list"
  47, "%2 argument for primitive %1 of wrong type: %3 not a named node list"
  48, "%2 argument for primitive %1 of wrong type: %3 not a length or length-spec"
  49, "%2 argument for primitive %1 of wrong type: %3 not a quantity or length-spec"
  50, "%2 argument for primitive %1 of wrong type: %3 not an integer or the symbol ""force"""
  52, "%2 argument for primitive %1 of wrong type: %3 not an address"
  53, "%2 argument for primitive %1 of wrong type: %3 not a glyph-id"
  54, "%2 argument for primitive %1 of wrong type: %3 not a glyph-subst-table"
  55, "%2 argument for primitive %1 of wrong type: %3 not a list of pairs of glyph-ids"
  56, "%2 argument for primitive %1 of wrong type: %3 not a procedure"
  57, "%2 argument for primitive %1 of wrong type: %3 not a vector"
  58, "root rule already defined in same part with same importance"
  59, "first definition was here"
  60, "initial value already declared for characteristic %1 in same part"
  61, "first declaration was here"
  62, "%1 is not a valid keyword in a style expression"
  63, "%1 is not a valid keyword in a make expression for flow object class %2"
  64, "%1 is not the name of any flow object class"
  65, "content expression cannot be specified in make expression for atomic flow object class %1"
  66, "value for ""label:"" not a symbol"
  67, "no port for label %1"
  68, "invalid content map"
  69, "content map references non-existent port %1"
  70, "invalid value for %1 characteristic"
  71, "no clause in cond expression matched"
  72, "no clause in case expression matched %1"
  73, "expected ""else"" not %1"
  74, "sorry, cannot handle unresolvable quantities in datums in case expression"
  75, "%1"
  76, "division by zero"
  77, "procedure does not have %1 keyword argument"
  78, "argument not a keyword"
  80, "specification document does not have the DSSSL architecture as a base architecture"
  81, "specification document did not contain a style-specification-body element"
  82, "unknown character name %1"
  83, "attempt to use current node when there is none"
  84, "attempt to process node in illegal context"
  85, "radix must be 2, 8, 10 or 16"
  86, "this context requires a sosofo"
  87, "this context requires a style object"
  88, "procedure can only be used in evaluation of characteristic value"
  90, "%1 color requires three arguments"
  91, "arguments for %1 color must be numbers"
  92, "arguments for %1 color must be in the range 0 to 1"
  93, "result of procedure in %1 color must be a number"
  94, "unknown color-space family %1"
  95, "%1 color-space family does not take any arguments"
  96, "invalid parameters for %1 color-space family"
  97, "%1 is not a pre-defined inherited characteristic"
  98, "invalid number format %1"
  99, "invalid character %1 in public identifier"
  100, "debug %1"
  101, "circular use of specification parts"
  102, "no style-specification or external-specification with ID %1"
  103, "document did not contain any style-specifications or external-specifications"
  104, "table-cell flow object not inside a table"
  105, "table-row flow object not inside a table"
  106, "no value for node property %1"
  107, "value returned by procedure was not a node-list"
  108, "called from here"
  109, "called from here...(%1 calls omitted)"
  110, "node processing loop detected"
  111, "unquote-splicing expression does not evaluate to a list"
  112, "object is read-only"
  113, "assignment to top-level variable %1"
  114, "invalid call to continuation"
  115, "empty generic identifier in pattern"
  116, "pattern is not a list"
  117, "%1 cannot be used as a generic identifier in a pattern"
  118, "%1 cannot occur in a pattern"
  119, "value missing for qualifier in pattern"
  120, "unknown pattern qualifier %1"
  121, "bad value %1 for %2 qualifier in pattern"
  122, "repeat qualifier not allowed inside children qualifier"
  123, "bad value for attributes qualifier in pattern"
  124, "characteristic %1 applied in style rule with same specificity"
  125, "other style rule is here"
  126, "node matches more than one pattern with the same specificity"
  127, "reference to uninitialized variable %1"
  128, "circular use of actual value of characteristic %1"
  129, "characteristic %1 already defined in same part"
  130, "first definition was here"
  131, "flow object class %1 already defined in same part"
  132, "first definition was here"
  133, "mode %1 not defined"
  134, "duplicate character name %1"
  135, "duplicate SDATA entity name %1"
  136, "duplicate SDATA entity text %1"
  137, "unsupported declaration will be ignored"
  138, "unsupported character repertoire %1 will be ignored"
  139, "error in declaration element"
  141, "%1 is not a valid identifier"
  142, "error in language definition"
  143, "no current language"
  144, "%2 argument for primitive %1 of wrong type: %3 not a language"
  145, "%2 argument for primitive %1 of wrong type: %3 not a positive integer"
  146, "%2 argument for primitive %1 of wrong type: %3 not an integer"
  147, "%2 argument for primitive %1 of wrong type: %3 not a keyword"
  148, "%2 argument for primitive %1 of wrong type: %3 not an alist"
  149, "%2 argument for primitive %1 of wrong type: %3 not a list of characters"
  150, "%2 argument for primitive %1 has wrong length"
  151, "quantity %1 can't be represented exactly"
  152, "default language already declared in this part"
  153, "first declaration was here"
  154, "%1 not a language as required in a default-language-declaration"
  155, "%1 not a valid unit name"
  156, "%1 not a valid character name"
  157, "%1 not a valid character number"
  158, "unknown character property %1"
  159, "error in character property declaration"
  160, "character property %1 already declared in same part"
  161, "first declaration was here"
  162, "added value for character property %1 already declared in same part"
  163, "previous declaration was here"
  164, "value returned by procedure was not a sosofo"
  165, "loop in specification of value of character property %1"
  166, "value for character property %1 of wrong type: %2 not an integer"
  167, "value for character property %1 of wrong type: %2 not an integer or the value ""#f"""
  168, "%1 not a style or transformation language feature"
  169, "undeclared use of feature %1"
  170, "feature %1 not supported"
  171, "feature %1 only partially supported"
  172, "only allowed in style language"
  173, "only allowed in transformation language"
  174, "style and transformation language parts mixed"
  175, "specification is marked as partial"
  176, "grove plan excluding module %1 not supported"
  177, "grove plan including module %1 not supported"
  178, "%1 not an SGML property set module"
  179, "Function for char-map characteristic returned non-char object %2 for character %1"
  180, "value for character property %1 of wrong type: %2 not a public identifier or the value ""#f"""
  181, "variable %1 occurs more than once in bindings"
  182, "exactly one of node:, subgrove: and class: needed"
  183, "add:, null:, remove:, children:, sub: make no sense with subgrove:"
  184, "remove: makes no sense with class:"
  185, "%2 argument for primitive %1 of wrong type: %3 not a subgrove-spec"
  186, "wrong type: %1 not a list of create-specs"
  187, "wrong type: %1 not a create-spec or list of create-specs"
  188, "query expression: %1 not a node list"
  189, "priority expression: %1 not an exact integer"
  190, "flow objects at the root must be all of class scroll or all of class page-sequence or simple-page-sequence"
  191, "current flow parent has no principal port"
  192, "this flow object requires a paragraph as an ancestor flow object"
  193, "flow object not accepted by port; only inline flow objects accepted"
  194, "flow object not accepted by port; only display flow objects accepted"
  195, "flow object not accepted by port; only display or inline flow objects accepted"
  196, "flow object not accepted in a paragraph; only inline, display or paragraph-break flow objects accepted"
  197, "a side-by-side flow object only accepts side-by-side-item flow objects as children"
  198, "flow object not accepted by port; only math-sequence, unmath, subscript, superscript, script, mark, fence, fraction, radical, math-operator, grid, character and alignment-point flow objects accepted"
  199, "flow object not accepted by port; must be grid-cell"
  200, "flow object not accepted by port; only a single character flow object accepted"
  201, "flow object not accepted by port; in a table, only either table-part flow objects or table-column flow objects followed by table-row or table-cell flow objects are allowed"
  202, "flow object not accepted by port; only table-row or table-cell flow objects accepted"
  203, "flow object not accepted by port; only table-column flow objects followed by table-row or table-cell flow objects allowd"
  204, "flow object not accepted by port; only table-cell flow objects accepted"
  205, "priority-expression must be a number"
  206, "query-expression must be a node-list"
  207, "Sorry, non-integral priorities not implemented"
END
